@media all and (max-width: 1000px) {




    .Banner {
        display: grid;
grid-template-columns: 100%;
grid-template-rows: 80% 20%;
justify-items: center;


    }

    .Login {
        width: 40%;
        margin-top: 10%;
        margin-left: 0;


    }
    .title > p {
        font-size: 180%;
        margin-left: -5%;
 
  
        
      }
  
    .title{ 
        width: 100%;

    }


    .Content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        margin-top: 30%;
justify-items: center;
    }

    .Secret {
        width: 70%;
    }

    .SecretText{
        margin-top: 15%;
        margin-left: 7%;
    }

    .Shadow {
        margin-top: 10%;
    }

    .Team-C {
        display: grid;
        grid-template-rows: 70% 30%;
       
        
    }

.Team {
    display: grid;
grid-template-rows: 30% 70%;
}


    .Team-Texts {
        font-size: 60%;
        margin-top: 2%;
        margin-left: 16%;

    }
    .Team-All-Img{
        margin-top: 8%;
    }

    .Denied{
        margin-top: -30%;
        font-size: 280%;
    }
    .Foot{
font-size: 70%;
margin-top: 100%;
    }

}